*{
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* font-family: 'Work Sans', sans-serif; */

body{
    font-family: 'Work Sans', sans-serif;
}

/* header section css start */

.navbar{
    max-width: 100%;
    /* height: 100px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
    /* box-shadow: 2px 10px #aaaaaa; */
    padding: 25px 98px;
}

.navbar .logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.navbar .logo h3{
    font-size: 45px;
    font-weight: 700;
    color: #0B0223;
}

.navbar .logo span{
    font-size: 45px;
    font-weight: 700;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navbar .menu-item ul{
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
    align-items: center;
}

.navbar .menu-item ul li{
    list-style: none;
}

.navbar .menu-item ul li a{
    text-decoration: none;
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
}

.navbar .menu-item .menu-btn{
    padding: 8px 12px;
    border-radius: 8px;
    background-color: rgba(11, 2, 35, 0.10);
    border: none;
    font-size: 18px;
    font-weight: 500;
    color: #3C354F;
    display: flex;
    align-items: center;
    gap: 10px;
}

.navbar .menu-item .menu-btn .fa-youtube{
    color: red;
    font-size: 26px;
}

/* Banner section css Start */
main{
    max-width: 90%;
}

.banner{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 60px;
}

.banner .banner-content{
    /* background-image: url("/images/Vector\ 2.png"); */
}
.banner .banner-content .banner-head{
    color: #0B0223;
    font-size: 44px;
    text-transform: uppercase;
    font-weight: 600;
}

.banner .banner-content .goat{
    font-size: 70px;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom: 14px;
}

.banner .banner-content .banner-rulse{
    color: #534C64;
    font-weight: 500;
    text-transform: lowercase;
    font-size: 20px;
    margin-bottom: 10px;
}

.banner .banner-content .sing-in{
    color: #fff;
    background: #FF42A5;
    font-size: 20px;
    padding: 16px 35px;
    border: none;
    border-radius: 48px;
}

.banner .banner-content .go-rogue{
    color: #fff;
    background:  #4EC5F7;;
    font-size: 20px;
    padding: 16px 35px;
    border: none;
    border-radius: 48px;
}

.fa-light{
    color: black;
}

.fa-solid{
    color: #FF42A5;
}

.banner .banner-content .banner-button{
    padding-top: 20px;
    display: flex;
    gap: 13px;
}

/* Banner contect div end  */

.banner .banner-image img{
    max-width: 600px;
}


/* Resonsive  */

/* mobile responsive */

@media screen and (max-width: 576px) {
    .navbar{
        flex-direction: column;
    }

    .navbar .menu-item ul{
        flex-direction: column;
    }

    .banner{
        flex-direction: column;
        flex-direction: column-reverse;
    }

    .banner .banner-image img{
        width: 400px;
    }

    .banner .banner-content{
        margin-top: 50px;
    }
    .banner .banner-image{
        margin-bottom: 50px;
    }

    .navbar .logo{
        margin: 52px 0px;
    }
}

@media screen and (min-width:577px) and (max-width:992px){
    .navbar{
        flex-direction: column;
    }

    .navbar .logo{
        margin-bottom: 40px;
    }
    
    .banner .banner-image img{
        max-width: 350px;
    }

    .banner .banner-content .banner-head{
        font-size: 30px;
    }
    
    .banner .banner-content .goat{
        font-size: 60px;
    }

    .banner .banner-content .sing-in{
        font-size: 18px;
        padding: 10px 20px;

    }
    
    .banner .banner-content .go-rogue{
        font-size: 18px;
        padding: 10px 20px;
    }
    
}